Options FollowSymLinks



AddDefaultCharset utf-8






php_value memory_limit 128M
<IfModule mod_rewrite.c>



    RewriteEngine On











    # Deny accessing below extensions



    <Files ~ "(.lock|.git)">



    Order allow,deny



    Deny from all



    </Files>











    # the main rewrite rule for the johnson application



    RewriteCond %{REQUEST_URI} !^/(backend/web|admin)



    RewriteRule !^web /web%{REQUEST_URI} [L]







    # redirect to the page without a trailing slash (uncomment if necessary)



    #RewriteCond %{REQUEST_URI} ^/admin/$



    #RewriteRule ^(admin)/ /$1 [L,R=301]



    # the main rewrite rule for the backend application



    RewriteCond %{REQUEST_URI} ^/admin



    RewriteRule ^admin(.*) /backend/web/$1 [L]







    # if a directory or a file of the johnson application exists, use the request directly



    RewriteCond %{REQUEST_URI} ^/web



    RewriteCond %{REQUEST_FILENAME} !-f



    RewriteCond %{REQUEST_FILENAME} !-d



    # otherwise forward the request to index.php



    RewriteRule . /web/index.php [L]







    # if a directory or a file of the backend application exists, use the request directly



    RewriteCond %{REQUEST_URI} ^/backend/web



    RewriteCond %{REQUEST_FILENAME} !-f



    RewriteCond %{REQUEST_FILENAME} !-d



    # otherwise forward the request to index.php



    RewriteRule . /backend/web/index.php [L]















    RewriteCond %{REQUEST_URI} \.(htaccess|htpasswd|svn|git)



    RewriteRule \.(htaccess|htpasswd|svn|git) - [F]



</IfModule>